<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <h1>Add Product</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <form action="{% url 'add_product' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Product</button>
        </form>
    {% endif %}
    <a href="{% url 'initial' %}"><button>Back</button></a>
</body>
</html>
